.header-image{
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin: 10px;
}

.card {
    width: 80%;
    max-width: 70%;
    height: 450px;
    margin: 5%;
}

.content{
    padding: 20px;
    
    .mat-card-title{
        font-size: xx-large;
    }
}

.main-div {
    display: flex;
    width: 100%;
    justify-content: center;
}